---

- name: Install Apache
  apt:
          name: apache2
          state: latest

- name: Start Apache
  service:
          name: apache2
          state: started        

- name: Install UFW
  apt:
          name: ufw
          state: present      

- name: Enable UFW
  ufw:
          state: enabled

- name: Open port 80
  ufw:
          rule: allow
          port: "80"
  register: port_80

- name: Open port 443
  ufw:
          rule: allow
          port: "443"
  register: port_443

- name: Restart firewall
  ufw:
          state: reloaded
  when: port_80.changed or port_443.changed
  register: firewall

- name: Restart apache
  become: yes
  service:
          name: apache2
          state: restarted
  when: firewall.changed
